html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Kulim Park';
  scroll-behavior: smooth;
  text-decoration: none;
}

.cabecalho {
  background: #000000;
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 2;
  display: block;
  transition: 0.3s;
  transform: translateY(-100%) ;
}
.logo11 {
  float: left;
  height: 50px;
  width: 130px;
  margin-left: 10px;
  margin-right: 0px;
  margin-top: 2px;
}
nav {
  height: auto;
  float: left;
  
}

ul {
  height: auto;
}

ul li {
  display: inline;
  margin-right: 15px;
  text-transform: uppercase;
  padding-bottom: 13px;
}

ul li a {
  color: white;
  font-weight: bold;
  font-size: 16px;
}

a:link {
  text-decoration: none;
}

ul li a:hover {
  text-shadow: 3px 1px 1px rgb(0, 0, 0);
  transition: 0.1s;
  color: #d815ff;
}

.destaque {
  width: 40px;
  border-bottom: 3px solid #d815ff;
}


.login {
  font-family: 'Kulim Park';
  margin-top: 10px;
  float: right;
  border-color: #000000;
  background-color: #7641A3;
  color: #ffffff;
  font-size: 16px;
  height: 30px;
  width: 70px;
  cursor: pointer;
}

.login:hover {
  background-color: #d815ff;
}

.box {
  max-width: 95%;
  margin: auto;
}

#slogan {
  /* background-image: url(../img/giffundo.gif); */
  background-repeat: no-repeat;
  background-size: cover;
}

#home {
  background-color: #1A1A1A;
}


.sloganslide {
  position: relative;
  min-height: 100%;
  width: 100%;
    background-repeat: no-repeat;
  background-size: cover;
}
#quemsomos {
  background-color: hsl(272, 43%, 45%);
}
.tituloquem {
  margin: 0;
  padding-top: 60px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}
.textoquem {
  text-align: justify;
  width: 85%;
  margin: 0 auto;
  padding-top: 20px;
  font-size: 28px;
}
.quemsomosslide {
  position: relative;
  width: 100%;
  min-height: 60%;
  box-shadow: 0px -8px 10px rgba(0, 0, 0, 0.7);
}
.homeslide {
  position: relative;
  min-height: 120%;
  width: 100%;
  box-shadow: 0px -8px 10px rgba(0, 0, 0, 0.7);
}

.graficoslide {
  position: relative;
  min-height: 90%;
  width: 100%;
  box-shadow: 0px -8px 10px rgba(0, 0, 0, 0.7);
}

#grafico {
  background-color: #ffffff
}

.titulo {
  margin: 0;
  padding-top: 90px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
}

.imagens {
  padding-top: 20px;
  display: flex;
  width: 85%;
  height: auto;
  margin: auto;
  justify-content: space-around;
}

.divimg {
  height: 450px;
  width: 300px;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 5px 3px rgba(0, 0, 0, 0.7);
  transform: scale(1);
	transition: .3s ease-in-out;
}

.imgval {
  height: 89%;
  width: 100%;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.divbranca {
  padding: 4px 0px;
  display: flex;
  margin-top: 0px;
  width: 100%;
  height: 11%;
  background-color: #ffffff;
}

.logojogo {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 100%;
}

.logojogo1 {
  margin-top: 7px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 80%;
}

.divimg:hover {
	transform: scale(1.09);
}
.center {
  text-align: center;
}
.start {
  text-align: center;
  font-family: '8BITWONDERNominal';
  width: 140px;
  height: 50px;
  margin-top: 60px;
  font-size: 22px;
  font-weight: bold;
  background-color: rgb(211, 211, 211);
  text-shadow: -1px -1px black, 1px 1px white;
  color: rgb(128, 128, 128);
  border-radius: 7px;
  box-shadow: 0px 4px gray; 
  cursor: pointer;

}
.start:active {
	box-shadow: none;
	position: relative;
}

.logocentral {
 display: block;
 margin-left: auto;
 margin-right: auto;
 justify-content: center;
  height: auto;
  width: 800px;
  padding-top: 50px;

}
.graficola {
  padding-top: 20px;
  height: 450px;
  width: 480px;
  margin: 0 auto;
  display: block;
}
.titulografico {
  padding-top: 50px;
  margin: 0;
  color: #000000;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
}
.footer {
  position: absolute;
  border: 0;
  width: 100%;
  height: 45px;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 16px;
  padding-top: 7px;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.5);
}
a {
  color: white;
  font-size: 16px;
  
  transition: 0.5s ease-out;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: rgb(216, 21, 255);
}
